body {
    background-color: #673ab7;
}

div.container {
    border: 1px solid #fff;
}

.color-1 {
    padding: 10px;
    background-color: #d3bbff;
    color: #000;
}

.height-500 {
    min-height: 800px;
}


.p50 {
    padding: 20px;
}
